<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivan200.photoadapter"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-sdk tools:overrideLibrary="com.otaliastudios.cameraview"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:theme="@style/AppThemePhoto"
            android:name="com.ivan200.photoadapter.CameraActivity"
            android:label="Photo" >
        </activity>
    </application>
</manifest>

